* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #f5f5f4;
  font-family: sans-serif;
}
li {
  list-style-type: none;
}
button {
  cursor: pointer;
}
input:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-thumb {
  background-color: #f87171 !important;
}
